<div class="grid">
    <header><a href="https://github.com/patrickhimes/masebs-radio-player/" target="_blank"><img src="./assets/svg/masebs-simple-LOGO.svg" alt="MASEBS" /></a>{{title}}</header>
    <main>
        <p>
            A simple Angular app for streaming radio stations based on Icecast and Liquidsoap.
            It also uses last.fm's API to try to find album artwork.
        </p>
    </main>
    <aside>
        <mounts></mounts>
    </aside>
    <footer>
        <a href="https://github.com/patrickhimes/masebs-radio-player/" target="_blank"><img src="./assets/svg/GitHub.svg" alt="GitHib" /></a>
    </footer>
</div>